@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Light.ttf");
}

@font-face {
    font-family: "Jasmine Reminiscentse Bold";
    src: url("../fonts/Jasmine Reminiscentse Bold.ttf");
}

body {
    font-family: "Raleway", sans-serif;
    letter-spacing: 3px;
    line-height: 1;
}

a {
    cursor: pointer !important;
    color: #c92e9f;
}

a:hover {
    color: #032d7b;
}


/************************************************************
 * Default Styling
 ************************************************************/

h1 {
    font-size: 62px;
    line-height: 66px;
    font-family: Raleway;
    color: #032d7b;
    text-transform: uppercase;
    text-align: left;
}

h2 {
    font-size: 35px;
    line-height: 38px;
    margin: 50px 0 40px 0;
    color: #c92e9f;
    text-transform: uppercase;
}

h3 {
    font-size: 35px;
    line-height: 35px;
    margin: 35px 0 25px 0;
    color: #c92e9f;
    text-transform: uppercase;
}

h4 {
    margin: 35px 0 25px 0;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    line-height: 22px;
    margin: 20px 0;
}

hr  {
    margin: 30px 0;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 52px;
        line-height: 56px;
    }

    h2 {
        font-size: 25px;
        line-height: 28px;
        margin: 20px 0 15px 0;
    }

    h3 {
        font-size: 23px;
        line-height: 26px;
        margin: 10px 0 5px 0;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 36px;
        line-height: 39px;
    }

    h2 {
        font-size: 20px;
        line-height: 23px;
        margin: 5px 0;
    }

    h3 {
        font-size: 18px;
        line-height: 21px;
        margin: 5px 0;
    }
}

.panel {
    box-shadow: none;
    border-radius: 0;
    font-size: 16px;
    margin: 30px 0;
}

.panel-default {
    border-color: #eee;
}

.panel-body {
    padding: 20px;
}

.btn {
    border-radius: 0;
}

.btn-rsvp {
    align-content: center;
    background-color: #c92e9f;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    padding: 15px;
    margin: 0;
    width: 200px;
    border:none;
    outline: none;
    text-transform: uppercase;
}

.btn-rsvp:hover, .btn-rsvp:focus {
    background-color: #032d7b !important;
    color: #fff;
}

.btn-thanks {
    align-content: center;
    border:1px solid #c92e9f;
    color: #c92e9f;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    padding: 15px;
    margin: 10px 0 0 0;
    width: 200px;
    outline: none;
    text-transform: uppercase;
    border-radius: 0;
}

.btn-thanks:hover, .btn-thanks:focus {
    border: 1px solid #032d7b !important;
    color: #032d7b;
}

.form-control {
    border-radius: 0;
}

.help-block {
    margin: 25px 0;
}

.radio input[type="radio"]:focus + label::before {
    outline: none;
}

.checkbox input[type="checkbox"]:focus + label::before {
    outline: none;
}

.form-control:focus {
    border-color: rgba(200, 200, 200, 0.9);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(200, 200, 200, 0.6);
    outline: 0 none;
}

label {
    text-transform: uppercase;
}

.form-group label {
    padding-top: 10px;
    padding-bottom: 5px;
}

.checkbox-rsvp input[type="checkbox"]:checked + label::before,
.checkbox-rsvp input[type="radio"]:checked + label::before {
    border-color: #c92e9f;
}

.checkbox label::before {
    width: 27px;
    height: 27px;
    border-radius: 0;
}

.checkbox label::after {
    width: 11px;
    height: 11px;
    left: 1px;
    top: 1px;
    font-size: 20px;
    color: #c92e9f;
}

.radio label::before {
    width: 27px;
    height: 27px;
}
.radio label::after {
    width: 11px;
    height: 11px;
    left: 8px;
    top: 8px;
}

.radio label {
    padding-left: 20px;
    line-height: 25px;
}

.checkbox label {
    padding-left: 20px;
    line-height: 25px;
}

.radio-rsvp input[type="radio"] + label::after {
    background-color: #c92e9f;
}
.radio-rsvp input[type="radio"]:checked + label::before {
    border-color: #c92e9f;
}
.radio-rsvp input[type="radio"]:checked + label::after {
    background-color: #c92e9f;
}

/************************************************************
 * Page
 ************************************************************/

html, body {
    height:100%;
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

.container-content {
    flex: 1;
}

/************************************************************
 * Header & Navigation
 ************************************************************/

.navbar-default {
    background: rgba(255, 255, 255, 0.8);
    border: none;
    box-shadow: none;
    margin-bottom: 0px;
    border-radius: 0;
    z-index: 0;
}

.navbar > .container-fluid .navbar-brand, .navbar-default a {
    font-size: 12px;
    color: #032d7b;
    text-decoration: none;
    text-transform: uppercase;
    margin: 20px 10px;
    display: block;
    line-height: 20px;
    border: 1px solid transparent;
}

.navbar-default .navbar-nav > li > a, .navbar-default a.navbar-brand {
    color: #032d7b;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a.active, .navbar-default a.navbar-brand:hover, .navbar-default a.navbar-brand.active {
    color: #c92e9f;
    border-color: #c92e9f !important;
}

.navbar-default .navbar-toggle {
    margin-top: 20px;
    padding: 10px;
    border-radius: 0;
    background: none;
    color: #000;
    border-color: #000;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    color: #c92e9f;
    background: none;
    border-color: #c92e9f !important;
}

.navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #c92e9f;
}

.navbar-collapse {
    border: none;
}

@media screen and (max-width: 767px) {
    .navbar-nav {
        background: #fff;
    }
}

@media screen and (max-width: 800px) {
    .navbar > .container-fluid .navbar-brand, .navbar-default a {
        margin: 10px 10px;
    }
}

/************************************************************
 * Hero Image
 ************************************************************/

.hero {
    height: 480px;
    width: 100%;
    position: absolute;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.index .hero {
    height: 480px;
}

.index .hero {
    background-image: url("../images/index-hero.jpg");
    background-position: center top;
}


.rsvp .hero, .thanks .hero, .sorry .hero {
    background-image: url("../images/rsvp-hero.jpg");
    background-position: center top;
}

.photos .hero {
    background-image: url("../images/photos-hero.jpg");
    background-position: center top;
}

.information .hero {
    background-image: url("../images/information-hero.jpg");
    background-position: center top;
}

.notfound .hero {
    background-image: url("../images/index-hero.jpg");
    background-position: center top;
}

@media screen and (max-width: 800px) {
    .hero {
        height: 175px;
    }

    .index .hero {
        height: 380px;
    }

}

@media screen and (max-width: 600px) {
    .hero {
        height: 190px;
    }

    .index .hero {
        height: 175px;
    }
}

@media screen and (max-width: 410px) {
    .hero {
        height: 190px;
    }

    .index .hero {
        height: 180px;
        background-position: center -10px;
    }
}

/************************************************************
 * Content
 ************************************************************/

.container-content {
    margin-top: 400px;
}

.index .container-content {
    margin-top: 410px;
}

@media screen and (max-width: 800px) {
    .container-content {
        margin-top: 105px;
    }

    .index .container-content {
        margin-top: 310px;
    }
}

@media screen and (max-width: 600px) {
    .container-content {
        margin-top: 120px;
    }

    .index .container-content {
        margin-top: 105px;
    }
}

/************************************************************
 * Footer
 ************************************************************/

footer {
    width: 100%;
    background-color: #3f3f3f;
    min-height: 230px;
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #fff;
}

footer, footer a {
    color: #aaa;
}

@media screen and (min-width: 768px) {
    footer h4 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    footer h5 {
        margin-bottom: 5px;
    }
}

/************************************************************
 * Index Page
 ************************************************************/

.index h1 {
    font-size: 150px;
    line-height: 154px;
    margin: 20px;
    font-family:"Jasmine Reminiscentse Bold";
    text-transform: none;
    color: #032d7b;
}

.index hr {
    margin: 60px auto;
    width: 50%;
}

.index time {
    font-size: 18px;
    line-height: 22px;
    margin: 30px 0 50px 0;
    color: #3f3f3f;
}

@media screen and (max-width: 800px) {
    .index h1 {
        font-size: 125px;
    }

    .index hr {
        margin: 50px auto;
    }
}

@media screen and (max-width: 600px) {
    .index h1 {
        font-size: 58px;
        line-height: 62px;
    }

    .index hr {
        margin: 40px auto;
    }
}

/************************************************************
 * RSVP Page
 ************************************************************/

.rsvp .rsvp-options {
    padding: 20px;
    margin: 20px 1px;
    border: 1px solid #c92e9f;
}

/************************************************************
 * Photo Page
 ************************************************************/

.photo-app a {
    margin:0 20px 0 0;
    float: left;
}

.photo-app img {
    height: auto;
    width: 200px;
}

@media screen and (max-width: 800px) {
    .photo-app a {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    .photo-app a {
        margin-bottom: 15px;

    }
}
